  <HTML>
    <HEAD>
      <TITLE>Job Start Notification</TITLE>
      
		<style media="screen" type="text/css">
			div#banner {
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 30px;
			  padding-left: 10px;
			  padding-top: 10px;
			  padding-bottom: 10px;
			  background-color: #a90101;
			}
				
			div#content {
			  position: absolute;
			  top: 60px;
			}			
		</style>      
    </HEAD>

    <BODY>
		<div id="banner">
		
		    <div>
		        <img src="http://edrn.nci.nih.gov/++resource++edrn.theme.images/nci-banner.gif"/>
		        <map name="ncibanner">
		            <area shape="rect" coords="0,3,279,34" href="http://www.cancer.gov/" alt="National Cancer Institute" title="National Cancer Institute" />
		            <area shape="rect" coords="711,16,879,26" href="http://www.nih.gov/" alt="U.S. National Institutes of Health" title="U.S. National Institutes of Health" />
		            <area shape="rect" coords="888,16,973,26" href="http://www.cancer.gov/" alt="www.cancer.gov" title="www.cancer.gov" />   
		        </map>
		    </div>
		</div>
		
		<div id="content">
			<div id="logo" style="height: 100px; width: 400px">
			   <img src="http://edrn.nci.nih.gov/++resource++edrn.theme.images/fuzzy-caterpillars.png" style="float: left; margin: 4px"/>
			   <h2>Early Detection Research Network</h2>
			   <h3>Job Notification: Finished</h3>
			</div>

			<table>
			   <tr>
			      <th colspan="2" align="left">
			         <h3>Job Properties:</h3>
			      </th>
			   </TR>
				#foreach( $key in $emailParams.keySet() )
					<tr>
						<td>$key</td>
						<td>$emailParams.get($key)</td>
					</tr>
				#end
			</table>		
			
			<br/>
			<hr/>
			<br/>
			
			<table>
			   <tr>
			      <th colspan="2" align="left">
			         <h3>Job Results:</h3>
			      </th>
			   </TR>
				#foreach( $key in $emailJobResults.keySet() )
					<tr>
						<td>$key</td>
						<td>$emailJobResults.get($key)</td>
					</tr>
				#end
			</table>					
			
			<br/>
			<p>This is an automated e-mail, please do not reply to this address</p>
		</div>
		
    </BODY>
  </HTML>