<?xml version="1.0" encoding="UTF-8"?><configuration xmlns="http://oodt.jpl.nasa.gov/web-grid/ns/" https="false" localhost="false" password="aGFuYWxlaQ==">
    <server className="org.apache.oodt.product.handlers.ofsn.OFSNFileHandler" type="product"/>
    <properties xml:space="preserve">
        <property key="org.apache.oodt.product.handlers.ofsn.xmlConfigFilePath">[TOMCAT_DIR]/conf/proteome-grid-ofsn-ps.xml</property>
    </properties>
</configuration>
